<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- <div style="text-align: center">
    <h1>{{message}}</h1>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form>
                <fieldset>
                    <!-- <legend class="text-center">Valid information is required to register. <span class="req"><small>
                                required *</small></span></legend> -->

                    <div class="form-group">
                        <label for="Name"><span class="req">* </span> First Name: </label>
                        <input required type="text"  name="fname" id="fname"
                            class="form-control phone" maxlength="28" />
                    </div>

                    <div class="form-group">
                        <label for="firstname"><span class="req">* </span> Last Name: </label>
                        <input class="form-control" type="text"  name="lname" id="txt" required
                           />
                        <div id="errFirst"></div>
                    </div>
                    <div class="form-group">
                        <label for="category"><span class="req">* </span> Email: </label>
                        <input class="form-control" type="text"  name="email" id="txt" required
                         />
                    <div id="errFirst"></div>
                    </div>
                    <div class="form-group">
                        <label for="lastname"><span class="req">* </span> Car Make: </label>
                        <input class="form-control" type="text"  name="carm" id="txt"
                             required />
                        <div id="errLast"></div>
                    </div>
                    <div class="form-group">
                      <label for="lastname"><span class="req">* </span> Car Model: </label>
                      <input class="form-control" type="text"  name="carmodel" id="txt"
                           required />
                      <div id="errLast"></div>
                  </div>
                  <div class="form-group">
                    <label for="lastname"><span class="req">* </span> VIN: </label>
                    <input class="form-control" type="text"  name="vin" id="txt"
                         required />
                    <div id="errLast"></div>
                </div>
                <div class="form-group">
                  <label for="lastname"><span class="req">* </span> Manufactured Date: </label>
                  <input class="form-control" type="text"  name="mdate" id="txt"
                       required />
                  <div id="errLast"></div>
              </div>
              <div class="form-group">
                <label for="lastname"><span class="req">* </span> Vehicle Age: </label>
                <input class="form-control" type="text"  name="carm" id="txt"
                     required />
                <div id="errLast"></div>
            </div>
                    <div class="form-group">
                        <!-- <input mat-raised-button color="primary" name="submit_reg" value="Register" (click)="addMenu();clearFields()"> -->
                        <button mat-raised-button color="primary" >Edit Vehicle</button>

                    </div>
                </fieldset>
            </form>
        </div>

        <!-- col-md-offset-2 custyle -->

        <div class="row col-md-9 ">
            <div class="container text-right">
                <!-- <div id="custom-search-input" >
                                 <div class="input-group col-md-6" style="text-align: center">
                                     <input type="text" class="search-query form-control" placeholder="Search With food code"  name="mobileNumber" />
                                     <span class="input-group-btn">
                                         <button class="btn btn-danger" type="button">
                                             <span class=" glyphicon glyphicon-search"></span>
                                         </button>
                                     </span> 
                                 </div>
                             </div> -->
     </div>
            <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Car Make</th>
                    <th>Car Model</th>
                    <th>VIN</th>
                    <th>Manu. Date</th>
                    <th>Vehicle Age</th>

                    <!-- <th>Action</th> -->
                </tr>
            </thead>
            <tbody>
                <tr></tr>
                    <!-- <td>{{menu.code}}</td>
                    <td>{{menu.itemName}}</td>
                    <td>{{menu.foodCategory}}</td>
                    <td>{{menu.pricePerItem}}</td> -->
                   <!-- <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delteUser(user.id)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td> --> 
                  <!-- </tr> -->
            </tbody> 
            </table>
            </div>

    </div> 
</div>
<!-- <ng-template #loggedOut>
    Please login.
  </ng-template> -->

